@import 'nib'

@keyframes ui_bgAnimatedKF_1 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(0, 48, 71);}
  65% {background-color: hsl(0, 48, 71);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_1
  animation-name ui_bgAnimatedKF_1
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_2 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(13, 32, 56);}
  65% {background-color: hsl(13, 32, 56);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_2
  animation-name ui_bgAnimatedKF_2
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_3 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(26, 92, 52);}
  65% {background-color: hsl(26, 92, 52);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_3
  animation-name ui_bgAnimatedKF_3
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_4 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(39, 63, 89);}
  65% {background-color: hsl(39, 63, 89);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_4
  animation-name ui_bgAnimatedKF_4
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_5 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(51, 68, 59);}
  65% {background-color: hsl(51, 68, 59);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_5
  animation-name ui_bgAnimatedKF_5
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_6 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(64, 30, 81);}
  65% {background-color: hsl(64, 30, 81);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_6
  animation-name ui_bgAnimatedKF_6
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_7 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(77, 26, 81);}
  65% {background-color: hsl(77, 26, 81);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_7
  animation-name ui_bgAnimatedKF_7
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_8 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(90, 26, 44);}
  65% {background-color: hsl(90, 26, 44);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_8
  animation-name ui_bgAnimatedKF_8
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_9 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(103, 68, 53);}
  65% {background-color: hsl(103, 68, 53);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_9
  animation-name ui_bgAnimatedKF_9
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_10 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(116, 60, 41);}
  65% {background-color: hsl(116, 60, 41);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_10
  animation-name ui_bgAnimatedKF_10
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_11 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(129, 40, 44);}
  65% {background-color: hsl(129, 40, 44);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_11
  animation-name ui_bgAnimatedKF_11
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_12 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(141, 79, 76);}
  65% {background-color: hsl(141, 79, 76);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_12
  animation-name ui_bgAnimatedKF_12
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_13 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(154, 66, 58);}
  65% {background-color: hsl(154, 66, 58);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_13
  animation-name ui_bgAnimatedKF_13
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_14 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(167, 45, 41);}
  65% {background-color: hsl(167, 45, 41);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_14
  animation-name ui_bgAnimatedKF_14
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_15 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(180, 68, 57);}
  65% {background-color: hsl(180, 68, 57);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_15
  animation-name ui_bgAnimatedKF_15
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_16 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(193, 52, 74);}
  65% {background-color: hsl(193, 52, 74);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_16
  animation-name ui_bgAnimatedKF_16
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_17 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(206, 35, 75);}
  65% {background-color: hsl(206, 35, 75);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_17
  animation-name ui_bgAnimatedKF_17
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_18 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(219, 90, 53);}
  65% {background-color: hsl(219, 90, 53);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_18
  animation-name ui_bgAnimatedKF_18
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_19 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(231, 63, 87);}
  65% {background-color: hsl(231, 63, 87);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_19
  animation-name ui_bgAnimatedKF_19
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_20 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(244, 33, 41);}
  65% {background-color: hsl(244, 33, 41);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_20
  animation-name ui_bgAnimatedKF_20
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_21 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(257, 56, 85);}
  65% {background-color: hsl(257, 56, 85);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_21
  animation-name ui_bgAnimatedKF_21
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_22 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(270, 75, 45);}
  65% {background-color: hsl(270, 75, 45);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_22
  animation-name ui_bgAnimatedKF_22
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_23 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(283, 92, 77);}
  65% {background-color: hsl(283, 92, 77);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_23
  animation-name ui_bgAnimatedKF_23
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_24 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(296, 29, 59);}
  65% {background-color: hsl(296, 29, 59);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_24
  animation-name ui_bgAnimatedKF_24
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_25 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(309, 63, 81);}
  65% {background-color: hsl(309, 63, 81);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_25
  animation-name ui_bgAnimatedKF_25
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_26 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(321, 70, 88);}
  65% {background-color: hsl(321, 70, 88);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_26
  animation-name ui_bgAnimatedKF_26
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_27 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(334, 92, 69);}
  65% {background-color: hsl(334, 92, 69);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_27
  animation-name ui_bgAnimatedKF_27
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

@keyframes ui_bgAnimatedKF_28 {
  0% {background-color: #000;}
  15% {background-color: #000;}
  35% {background-color: hsl(347, 87, 63);}
  65% {background-color: hsl(347, 87, 63);}
  85% {background-color: #000;}
  100% {background-color: #000;}
}

.ui_bgAnimated_28
  animation-name ui_bgAnimatedKF_28
  animation-duration 4s
  animation-iteration-count infinite
  animation-direction alternate

