#district_1.svg_select
  *
    fill hsl(0, 48, 71)
#district_2.svg_select
  *
    fill hsl(13, 32, 56)
#district_3.svg_select
  *
    fill hsl(26, 92, 52)
#district_4.svg_select
  *
    fill hsl(39, 63, 89)
#district_5.svg_select
  *
    fill hsl(51, 68, 59)
#district_6.svg_select
  *
    fill hsl(64, 30, 81)
#district_7.svg_select
  *
    fill hsl(77, 26, 81)
#district_8.svg_select
  *
    fill hsl(90, 26, 44)
#district_9.svg_select
  *
    fill hsl(103, 68, 53)
#district_10.svg_select
  *
    fill hsl(116, 60, 41)
#district_11.svg_select
  *
    fill hsl(129, 40, 44)
#district_12.svg_select
  *
    fill hsl(141, 79, 76)
#district_13.svg_select
  *
    fill hsl(154, 66, 58)
#district_14.svg_select
  *
    fill hsl(167, 45, 41)
#district_15.svg_select
  *
    fill hsl(180, 68, 57)
#district_16.svg_select
  *
    fill hsl(193, 52, 74)
#district_17.svg_select
  *
    fill hsl(206, 35, 75)
#district_18.svg_select
  *
    fill hsl(219, 90, 53)
#district_19.svg_select
  *
    fill hsl(231, 63, 87)
#district_20.svg_select
  *
    fill hsl(244, 33, 41)
#district_21.svg_select
  *
    fill hsl(257, 56, 85)
#district_22.svg_select
  *
    fill hsl(270, 75, 45)
#district_23.svg_select
  *
    fill hsl(283, 92, 77)
#district_24.svg_select
  *
    fill hsl(296, 29, 59)
#district_25.svg_select
  *
    fill hsl(309, 63, 81)
#district_26.svg_select
  *
    fill hsl(321, 70, 88)
#district_27.svg_select
  *
    fill hsl(334, 92, 69)
#district_28.svg_select
  *
    fill hsl(347, 87, 63)
#district_1.svg_select
  *
    fill hsl(0, 48, 71)
#district_2.svg_select
  *
    fill hsl(13, 32, 56)
#district_3.svg_select
  *
    fill hsl(26, 92, 52)
#district_4.svg_select
  *
    fill hsl(39, 63, 89)
#district_5.svg_select
  *
    fill hsl(51, 68, 59)
#district_6.svg_select
  *
    fill hsl(64, 30, 81)
#district_7.svg_select
  *
    fill hsl(77, 26, 81)
#district_8.svg_select
  *
    fill hsl(90, 26, 44)
#district_9.svg_select
  *
    fill hsl(103, 68, 53)
#district_10.svg_select
  *
    fill hsl(116, 60, 41)
#district_11.svg_select
  *
    fill hsl(129, 40, 44)
#district_12.svg_select
  *
    fill hsl(141, 79, 76)
#district_13.svg_select
  *
    fill hsl(154, 66, 58)
#district_14.svg_select
  *
    fill hsl(167, 45, 41)
#district_15.svg_select
  *
    fill hsl(180, 68, 57)
#district_16.svg_select
  *
    fill hsl(193, 52, 74)
#district_17.svg_select
  *
    fill hsl(206, 35, 75)
#district_18.svg_select
  *
    fill hsl(219, 90, 53)
#district_19.svg_select
  *
    fill hsl(231, 63, 87)
#district_20.svg_select
  *
    fill hsl(244, 33, 41)
#district_21.svg_select
  *
    fill hsl(257, 56, 85)
#district_22.svg_select
  *
    fill hsl(270, 75, 45)
#district_23.svg_select
  *
    fill hsl(283, 92, 77)
#district_24.svg_select
  *
    fill hsl(296, 29, 59)
#district_25.svg_select
  *
    fill hsl(309, 63, 81)
#district_26.svg_select
  *
    fill hsl(321, 70, 88)
#district_27.svg_select
  *
    fill hsl(334, 92, 69)
#district_28.svg_select
  *
    fill hsl(347, 87, 63)
