// style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;"
svg
  width 100%
  g
    path, polygon
      fill none
      stroke #CCCCCC
      stroke-width 0.2
      stroke-linecap round
      troke-linejoin round
