.ui_bgAnimated_1 {
  -webkit-animation-name: ui_bgAnimatedKF_1;
  -moz-animation-name: ui_bgAnimatedKF_1;
  -o-animation-name: ui_bgAnimatedKF_1;
  -ms-animation-name: ui_bgAnimatedKF_1;
  animation-name: ui_bgAnimatedKF_1;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_2 {
  -webkit-animation-name: ui_bgAnimatedKF_2;
  -moz-animation-name: ui_bgAnimatedKF_2;
  -o-animation-name: ui_bgAnimatedKF_2;
  -ms-animation-name: ui_bgAnimatedKF_2;
  animation-name: ui_bgAnimatedKF_2;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_3 {
  -webkit-animation-name: ui_bgAnimatedKF_3;
  -moz-animation-name: ui_bgAnimatedKF_3;
  -o-animation-name: ui_bgAnimatedKF_3;
  -ms-animation-name: ui_bgAnimatedKF_3;
  animation-name: ui_bgAnimatedKF_3;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_4 {
  -webkit-animation-name: ui_bgAnimatedKF_4;
  -moz-animation-name: ui_bgAnimatedKF_4;
  -o-animation-name: ui_bgAnimatedKF_4;
  -ms-animation-name: ui_bgAnimatedKF_4;
  animation-name: ui_bgAnimatedKF_4;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_5 {
  -webkit-animation-name: ui_bgAnimatedKF_5;
  -moz-animation-name: ui_bgAnimatedKF_5;
  -o-animation-name: ui_bgAnimatedKF_5;
  -ms-animation-name: ui_bgAnimatedKF_5;
  animation-name: ui_bgAnimatedKF_5;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_6 {
  -webkit-animation-name: ui_bgAnimatedKF_6;
  -moz-animation-name: ui_bgAnimatedKF_6;
  -o-animation-name: ui_bgAnimatedKF_6;
  -ms-animation-name: ui_bgAnimatedKF_6;
  animation-name: ui_bgAnimatedKF_6;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_7 {
  -webkit-animation-name: ui_bgAnimatedKF_7;
  -moz-animation-name: ui_bgAnimatedKF_7;
  -o-animation-name: ui_bgAnimatedKF_7;
  -ms-animation-name: ui_bgAnimatedKF_7;
  animation-name: ui_bgAnimatedKF_7;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_8 {
  -webkit-animation-name: ui_bgAnimatedKF_8;
  -moz-animation-name: ui_bgAnimatedKF_8;
  -o-animation-name: ui_bgAnimatedKF_8;
  -ms-animation-name: ui_bgAnimatedKF_8;
  animation-name: ui_bgAnimatedKF_8;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_9 {
  -webkit-animation-name: ui_bgAnimatedKF_9;
  -moz-animation-name: ui_bgAnimatedKF_9;
  -o-animation-name: ui_bgAnimatedKF_9;
  -ms-animation-name: ui_bgAnimatedKF_9;
  animation-name: ui_bgAnimatedKF_9;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_10 {
  -webkit-animation-name: ui_bgAnimatedKF_10;
  -moz-animation-name: ui_bgAnimatedKF_10;
  -o-animation-name: ui_bgAnimatedKF_10;
  -ms-animation-name: ui_bgAnimatedKF_10;
  animation-name: ui_bgAnimatedKF_10;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_11 {
  -webkit-animation-name: ui_bgAnimatedKF_11;
  -moz-animation-name: ui_bgAnimatedKF_11;
  -o-animation-name: ui_bgAnimatedKF_11;
  -ms-animation-name: ui_bgAnimatedKF_11;
  animation-name: ui_bgAnimatedKF_11;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_12 {
  -webkit-animation-name: ui_bgAnimatedKF_12;
  -moz-animation-name: ui_bgAnimatedKF_12;
  -o-animation-name: ui_bgAnimatedKF_12;
  -ms-animation-name: ui_bgAnimatedKF_12;
  animation-name: ui_bgAnimatedKF_12;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_13 {
  -webkit-animation-name: ui_bgAnimatedKF_13;
  -moz-animation-name: ui_bgAnimatedKF_13;
  -o-animation-name: ui_bgAnimatedKF_13;
  -ms-animation-name: ui_bgAnimatedKF_13;
  animation-name: ui_bgAnimatedKF_13;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_14 {
  -webkit-animation-name: ui_bgAnimatedKF_14;
  -moz-animation-name: ui_bgAnimatedKF_14;
  -o-animation-name: ui_bgAnimatedKF_14;
  -ms-animation-name: ui_bgAnimatedKF_14;
  animation-name: ui_bgAnimatedKF_14;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_15 {
  -webkit-animation-name: ui_bgAnimatedKF_15;
  -moz-animation-name: ui_bgAnimatedKF_15;
  -o-animation-name: ui_bgAnimatedKF_15;
  -ms-animation-name: ui_bgAnimatedKF_15;
  animation-name: ui_bgAnimatedKF_15;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_16 {
  -webkit-animation-name: ui_bgAnimatedKF_16;
  -moz-animation-name: ui_bgAnimatedKF_16;
  -o-animation-name: ui_bgAnimatedKF_16;
  -ms-animation-name: ui_bgAnimatedKF_16;
  animation-name: ui_bgAnimatedKF_16;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_17 {
  -webkit-animation-name: ui_bgAnimatedKF_17;
  -moz-animation-name: ui_bgAnimatedKF_17;
  -o-animation-name: ui_bgAnimatedKF_17;
  -ms-animation-name: ui_bgAnimatedKF_17;
  animation-name: ui_bgAnimatedKF_17;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_18 {
  -webkit-animation-name: ui_bgAnimatedKF_18;
  -moz-animation-name: ui_bgAnimatedKF_18;
  -o-animation-name: ui_bgAnimatedKF_18;
  -ms-animation-name: ui_bgAnimatedKF_18;
  animation-name: ui_bgAnimatedKF_18;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_19 {
  -webkit-animation-name: ui_bgAnimatedKF_19;
  -moz-animation-name: ui_bgAnimatedKF_19;
  -o-animation-name: ui_bgAnimatedKF_19;
  -ms-animation-name: ui_bgAnimatedKF_19;
  animation-name: ui_bgAnimatedKF_19;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_20 {
  -webkit-animation-name: ui_bgAnimatedKF_20;
  -moz-animation-name: ui_bgAnimatedKF_20;
  -o-animation-name: ui_bgAnimatedKF_20;
  -ms-animation-name: ui_bgAnimatedKF_20;
  animation-name: ui_bgAnimatedKF_20;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_21 {
  -webkit-animation-name: ui_bgAnimatedKF_21;
  -moz-animation-name: ui_bgAnimatedKF_21;
  -o-animation-name: ui_bgAnimatedKF_21;
  -ms-animation-name: ui_bgAnimatedKF_21;
  animation-name: ui_bgAnimatedKF_21;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_22 {
  -webkit-animation-name: ui_bgAnimatedKF_22;
  -moz-animation-name: ui_bgAnimatedKF_22;
  -o-animation-name: ui_bgAnimatedKF_22;
  -ms-animation-name: ui_bgAnimatedKF_22;
  animation-name: ui_bgAnimatedKF_22;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_23 {
  -webkit-animation-name: ui_bgAnimatedKF_23;
  -moz-animation-name: ui_bgAnimatedKF_23;
  -o-animation-name: ui_bgAnimatedKF_23;
  -ms-animation-name: ui_bgAnimatedKF_23;
  animation-name: ui_bgAnimatedKF_23;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_24 {
  -webkit-animation-name: ui_bgAnimatedKF_24;
  -moz-animation-name: ui_bgAnimatedKF_24;
  -o-animation-name: ui_bgAnimatedKF_24;
  -ms-animation-name: ui_bgAnimatedKF_24;
  animation-name: ui_bgAnimatedKF_24;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_25 {
  -webkit-animation-name: ui_bgAnimatedKF_25;
  -moz-animation-name: ui_bgAnimatedKF_25;
  -o-animation-name: ui_bgAnimatedKF_25;
  -ms-animation-name: ui_bgAnimatedKF_25;
  animation-name: ui_bgAnimatedKF_25;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_26 {
  -webkit-animation-name: ui_bgAnimatedKF_26;
  -moz-animation-name: ui_bgAnimatedKF_26;
  -o-animation-name: ui_bgAnimatedKF_26;
  -ms-animation-name: ui_bgAnimatedKF_26;
  animation-name: ui_bgAnimatedKF_26;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_27 {
  -webkit-animation-name: ui_bgAnimatedKF_27;
  -moz-animation-name: ui_bgAnimatedKF_27;
  -o-animation-name: ui_bgAnimatedKF_27;
  -ms-animation-name: ui_bgAnimatedKF_27;
  animation-name: ui_bgAnimatedKF_27;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.ui_bgAnimated_28 {
  -webkit-animation-name: ui_bgAnimatedKF_28;
  -moz-animation-name: ui_bgAnimatedKF_28;
  -o-animation-name: ui_bgAnimatedKF_28;
  -ms-animation-name: ui_bgAnimatedKF_28;
  animation-name: ui_bgAnimatedKF_28;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
@-moz-keyframes ui_bgAnimatedKF_1 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #d99292;
  }
  65% {
    background-color: #d99292;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_1 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #d99292;
  }
  65% {
    background-color: #d99292;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_1 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #d99292;
  }
  65% {
    background-color: #d99292;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_1 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #d99292;
  }
  65% {
    background-color: #d99292;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_2 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #b37a6b;
  }
  65% {
    background-color: #b37a6b;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_2 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #b37a6b;
  }
  65% {
    background-color: #b37a6b;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_2 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #b37a6b;
  }
  65% {
    background-color: #b37a6b;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_2 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #b37a6b;
  }
  65% {
    background-color: #b37a6b;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_3 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #f57614;
  }
  65% {
    background-color: #f57614;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_3 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #f57614;
  }
  65% {
    background-color: #f57614;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_3 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #f57614;
  }
  65% {
    background-color: #f57614;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_3 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #f57614;
  }
  65% {
    background-color: #f57614;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_4 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #f5e8d1;
  }
  65% {
    background-color: #f5e8d1;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_4 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #f5e8d1;
  }
  65% {
    background-color: #f5e8d1;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_4 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #f5e8d1;
  }
  65% {
    background-color: #f5e8d1;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_4 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #f5e8d1;
  }
  65% {
    background-color: #f5e8d1;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_5 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #dec84f;
  }
  65% {
    background-color: #dec84f;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_5 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #dec84f;
  }
  65% {
    background-color: #dec84f;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_5 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #dec84f;
  }
  65% {
    background-color: #dec84f;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_5 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #dec84f;
  }
  65% {
    background-color: #dec84f;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_6 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #dbddc0;
  }
  65% {
    background-color: #dbddc0;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_6 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #dbddc0;
  }
  65% {
    background-color: #dbddc0;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_6 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #dbddc0;
  }
  65% {
    background-color: #dbddc0;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_6 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #dbddc0;
  }
  65% {
    background-color: #dbddc0;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_7 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #d4dbc2;
  }
  65% {
    background-color: #d4dbc2;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_7 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #d4dbc2;
  }
  65% {
    background-color: #d4dbc2;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_7 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #d4dbc2;
  }
  65% {
    background-color: #d4dbc2;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_7 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #d4dbc2;
  }
  65% {
    background-color: #d4dbc2;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_8 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #708d53;
  }
  65% {
    background-color: #708d53;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_8 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #708d53;
  }
  65% {
    background-color: #708d53;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_8 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #708d53;
  }
  65% {
    background-color: #708d53;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_8 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #708d53;
  }
  65% {
    background-color: #708d53;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_9 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #64d936;
  }
  65% {
    background-color: #64d936;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_9 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #64d936;
  }
  65% {
    background-color: #64d936;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_9 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #64d936;
  }
  65% {
    background-color: #64d936;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_9 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #64d936;
  }
  65% {
    background-color: #64d936;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_10 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #32a72a;
  }
  65% {
    background-color: #32a72a;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_10 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #32a72a;
  }
  65% {
    background-color: #32a72a;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_10 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #32a72a;
  }
  65% {
    background-color: #32a72a;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_10 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #32a72a;
  }
  65% {
    background-color: #32a72a;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_11 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #439d51;
  }
  65% {
    background-color: #439d51;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_11 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #439d51;
  }
  65% {
    background-color: #439d51;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_11 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #439d51;
  }
  65% {
    background-color: #439d51;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_11 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #439d51;
  }
  65% {
    background-color: #439d51;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_12 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #91f2b3;
  }
  65% {
    background-color: #91f2b3;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_12 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #91f2b3;
  }
  65% {
    background-color: #91f2b3;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_12 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #91f2b3;
  }
  65% {
    background-color: #91f2b3;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_12 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #91f2b3;
  }
  65% {
    background-color: #91f2b3;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_13 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #4ddb9d;
  }
  65% {
    background-color: #4ddb9d;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_13 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #4ddb9d;
  }
  65% {
    background-color: #4ddb9d;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_13 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #4ddb9d;
  }
  65% {
    background-color: #4ddb9d;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_13 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #4ddb9d;
  }
  65% {
    background-color: #4ddb9d;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_14 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #3a9883;
  }
  65% {
    background-color: #3a9883;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_14 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #3a9883;
  }
  65% {
    background-color: #3a9883;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_14 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #3a9883;
  }
  65% {
    background-color: #3a9883;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_14 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #3a9883;
  }
  65% {
    background-color: #3a9883;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_15 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #47dcdc;
  }
  65% {
    background-color: #47dcdc;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_15 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #47dcdc;
  }
  65% {
    background-color: #47dcdc;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_15 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #47dcdc;
  }
  65% {
    background-color: #47dcdc;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_15 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #47dcdc;
  }
  65% {
    background-color: #47dcdc;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_16 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #9ad0df;
  }
  65% {
    background-color: #9ad0df;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_16 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #9ad0df;
  }
  65% {
    background-color: #9ad0df;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_16 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #9ad0df;
  }
  65% {
    background-color: #9ad0df;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_16 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #9ad0df;
  }
  65% {
    background-color: #9ad0df;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_17 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #a9c2d6;
  }
  65% {
    background-color: #a9c2d6;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_17 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #a9c2d6;
  }
  65% {
    background-color: #a9c2d6;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_17 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #a9c2d6;
  }
  65% {
    background-color: #a9c2d6;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_17 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #a9c2d6;
  }
  65% {
    background-color: #a9c2d6;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_18 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #1b67f3;
  }
  65% {
    background-color: #1b67f3;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_18 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #1b67f3;
  }
  65% {
    background-color: #1b67f3;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_18 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #1b67f3;
  }
  65% {
    background-color: #1b67f3;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_18 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #1b67f3;
  }
  65% {
    background-color: #1b67f3;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_19 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #c9cff3;
  }
  65% {
    background-color: #c9cff3;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_19 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #c9cff3;
  }
  65% {
    background-color: #c9cff3;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_19 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #c9cff3;
  }
  65% {
    background-color: #c9cff3;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_19 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #c9cff3;
  }
  65% {
    background-color: #c9cff3;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_20 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #4b468b;
  }
  65% {
    background-color: #4b468b;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_20 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #4b468b;
  }
  65% {
    background-color: #4b468b;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_20 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #4b468b;
  }
  65% {
    background-color: #4b468b;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_20 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #4b468b;
  }
  65% {
    background-color: #4b468b;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_21 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #cfc3ee;
  }
  65% {
    background-color: #cfc3ee;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_21 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #cfc3ee;
  }
  65% {
    background-color: #cfc3ee;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_21 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #cfc3ee;
  }
  65% {
    background-color: #cfc3ee;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_21 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #cfc3ee;
  }
  65% {
    background-color: #cfc3ee;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_22 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #731dc9;
  }
  65% {
    background-color: #731dc9;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_22 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #731dc9;
  }
  65% {
    background-color: #731dc9;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_22 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #731dc9;
  }
  65% {
    background-color: #731dc9;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_22 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #731dc9;
  }
  65% {
    background-color: #731dc9;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_23 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #dc8efa;
  }
  65% {
    background-color: #dc8efa;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_23 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #dc8efa;
  }
  65% {
    background-color: #dc8efa;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_23 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #dc8efa;
  }
  65% {
    background-color: #dc8efa;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_23 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #dc8efa;
  }
  65% {
    background-color: #dc8efa;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_24 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #b178b5;
  }
  65% {
    background-color: #b178b5;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_24 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #b178b5;
  }
  65% {
    background-color: #b178b5;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_24 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #b178b5;
  }
  65% {
    background-color: #b178b5;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_24 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #b178b5;
  }
  65% {
    background-color: #b178b5;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_25 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #edb0e4;
  }
  65% {
    background-color: #edb0e4;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_25 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #edb0e4;
  }
  65% {
    background-color: #edb0e4;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_25 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #edb0e4;
  }
  65% {
    background-color: #edb0e4;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_25 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #edb0e4;
  }
  65% {
    background-color: #edb0e4;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_26 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #f6cbe7;
  }
  65% {
    background-color: #f6cbe7;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_26 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #f6cbe7;
  }
  65% {
    background-color: #f6cbe7;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_26 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #f6cbe7;
  }
  65% {
    background-color: #f6cbe7;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_26 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #f6cbe7;
  }
  65% {
    background-color: #f6cbe7;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_27 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #f967a6;
  }
  65% {
    background-color: #f967a6;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_27 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #f967a6;
  }
  65% {
    background-color: #f967a6;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_27 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #f967a6;
  }
  65% {
    background-color: #f967a6;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_27 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #f967a6;
  }
  65% {
    background-color: #f967a6;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-moz-keyframes ui_bgAnimatedKF_28 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #f34f72;
  }
  65% {
    background-color: #f34f72;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes ui_bgAnimatedKF_28 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #f34f72;
  }
  65% {
    background-color: #f34f72;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@-o-keyframes ui_bgAnimatedKF_28 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #f34f72;
  }
  65% {
    background-color: #f34f72;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
@keyframes ui_bgAnimatedKF_28 {
  0% {
    background-color: #000;
  }
  15% {
    background-color: #000;
  }
  35% {
    background-color: #f34f72;
  }
  65% {
    background-color: #f34f72;
  }
  85% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
