#district_1.svg_select * {
  fill: #d99292;
}
#district_2.svg_select * {
  fill: #b37a6b;
}
#district_3.svg_select * {
  fill: #f57614;
}
#district_4.svg_select * {
  fill: #f5e8d1;
}
#district_5.svg_select * {
  fill: #dec84f;
}
#district_6.svg_select * {
  fill: #dbddc0;
}
#district_7.svg_select * {
  fill: #d4dbc2;
}
#district_8.svg_select * {
  fill: #708d53;
}
#district_9.svg_select * {
  fill: #64d936;
}
#district_10.svg_select * {
  fill: #32a72a;
}
#district_11.svg_select * {
  fill: #439d51;
}
#district_12.svg_select * {
  fill: #91f2b3;
}
#district_13.svg_select * {
  fill: #4ddb9d;
}
#district_14.svg_select * {
  fill: #3a9883;
}
#district_15.svg_select * {
  fill: #47dcdc;
}
#district_16.svg_select * {
  fill: #9ad0df;
}
#district_17.svg_select * {
  fill: #a9c2d6;
}
#district_18.svg_select * {
  fill: #1b67f3;
}
#district_19.svg_select * {
  fill: #c9cff3;
}
#district_20.svg_select * {
  fill: #4b468b;
}
#district_21.svg_select * {
  fill: #cfc3ee;
}
#district_22.svg_select * {
  fill: #731dc9;
}
#district_23.svg_select * {
  fill: #dc8efa;
}
#district_24.svg_select * {
  fill: #b178b5;
}
#district_25.svg_select * {
  fill: #edb0e4;
}
#district_26.svg_select * {
  fill: #f6cbe7;
}
#district_27.svg_select * {
  fill: #f967a6;
}
#district_28.svg_select * {
  fill: #f34f72;
}
#district_1.svg_select * {
  fill: #d99292;
}
#district_2.svg_select * {
  fill: #b37a6b;
}
#district_3.svg_select * {
  fill: #f57614;
}
#district_4.svg_select * {
  fill: #f5e8d1;
}
#district_5.svg_select * {
  fill: #dec84f;
}
#district_6.svg_select * {
  fill: #dbddc0;
}
#district_7.svg_select * {
  fill: #d4dbc2;
}
#district_8.svg_select * {
  fill: #708d53;
}
#district_9.svg_select * {
  fill: #64d936;
}
#district_10.svg_select * {
  fill: #32a72a;
}
#district_11.svg_select * {
  fill: #439d51;
}
#district_12.svg_select * {
  fill: #91f2b3;
}
#district_13.svg_select * {
  fill: #4ddb9d;
}
#district_14.svg_select * {
  fill: #3a9883;
}
#district_15.svg_select * {
  fill: #47dcdc;
}
#district_16.svg_select * {
  fill: #9ad0df;
}
#district_17.svg_select * {
  fill: #a9c2d6;
}
#district_18.svg_select * {
  fill: #1b67f3;
}
#district_19.svg_select * {
  fill: #c9cff3;
}
#district_20.svg_select * {
  fill: #4b468b;
}
#district_21.svg_select * {
  fill: #cfc3ee;
}
#district_22.svg_select * {
  fill: #731dc9;
}
#district_23.svg_select * {
  fill: #dc8efa;
}
#district_24.svg_select * {
  fill: #b178b5;
}
#district_25.svg_select * {
  fill: #edb0e4;
}
#district_26.svg_select * {
  fill: #f6cbe7;
}
#district_27.svg_select * {
  fill: #f967a6;
}
#district_28.svg_select * {
  fill: #f34f72;
}
