#district_1.svg_select
  *
    fill hsl(0, 43, 69)
#district_2.svg_select
  *
    fill hsl(13, 27, 53)
#district_3.svg_select
  *
    fill hsl(26, 52, 72)
#district_4.svg_select
  *
    fill hsl(39, 41, 42)
#district_5.svg_select
  *
    fill hsl(51, 34, 67)
#district_6.svg_select
  *
    fill hsl(64, 51, 44)
#district_7.svg_select
  *
    fill hsl(77, 47, 70)
#district_8.svg_select
  *
    fill hsl(90, 25, 66)
#district_9.svg_select
  *
    fill hsl(103, 79, 77)
#district_10.svg_select
  *
    fill hsl(116, 77, 90)
#district_11.svg_select
  *
    fill hsl(129, 60, 67)
#district_12.svg_select
  *
    fill hsl(141, 65, 51)
#district_13.svg_select
  *
    fill hsl(154, 90, 75)
#district_14.svg_select
  *
    fill hsl(167, 65, 63)
#district_15.svg_select
  *
    fill hsl(180, 81, 60)
#district_16.svg_select
  *
    fill hsl(193, 86, 62)
#district_17.svg_select
  *
    fill hsl(206, 88, 71)
#district_18.svg_select
  *
    fill hsl(219, 42, 46)
#district_19.svg_select
  *
    fill hsl(231, 43, 88)
#district_20.svg_select
  *
    fill hsl(244, 31, 70)
#district_21.svg_select
  *
    fill hsl(257, 37, 84)
#district_22.svg_select
  *
    fill hsl(270, 52, 55)
#district_23.svg_select
  *
    fill hsl(283, 81, 45)
#district_24.svg_select
  *
    fill hsl(296, 58, 80)
#district_25.svg_select
  *
    fill hsl(309, 53, 48)
#district_26.svg_select
  *
    fill hsl(321, 91, 80)
#district_27.svg_select
  *
    fill hsl(334, 41, 78)
#district_28.svg_select
  *
    fill hsl(347, 46, 51)
