extends layout

block content
  script(src="/javascripts/pixitest.js")
  //- h1= title
  //- p Welcome to #{title}
  //- ul#messages
  //- form#target(action="javascript:alert( 'success! ' +  $('#m').val());")
  //-   input#m(autocomplete="off")
  //-   button Send
